div {
	text-align: center;
}

html body {
	 background: #89E698 !important;
}

h6 {
	font-size: 24px !important;
}

p {
	text-align: left;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 20px;
}

#write-up {
	margin-top: 25px;
}

.legend_text, #taskbar > div, #legend_label {
	margin-right: 10px;
	margin-left: 2px;
	margin-top: auto;
	margin-bottom: auto;
	vertical-align: middle;
}

#taskbar, #stepCounter_container, #canvas_div, #legend_container {
	display: flex;
	justify-content: center;
}

#legend_container {
	margin-top: 5px;
}